GROQ_API_KEY="your_groq_api_key"
AVIATIONSTACK_API_KEY="your_aviationstack_api_key"
DEFAULT_ORIGIN_IATA="DAC"
TAVILY_API_KEY="your_tavily_api_key"
LANGSMITH_TRACING="true"
DATABASE_URL="postgresql://user:password@host:port/database"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="your_langsmith_api_key"
LANGSMITH_PROJECT="TripMate-AI"
OPENWEATHER_API_KEY="your_openweather_api_key"
